{% extends 'base.html' %} 
{% load static %} 

{% block head_title %}Banking System{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-bold text-4xl my-4">Welcome to our library! </h1>
        <p class="leading-normal mb-4">
            Welcome to our library! Our library is a peaceful and inviting space for book lovers, students, and knowledge seekers. We offer a wide collection of books across various genres, including fiction, non-fiction, self-help, academic resources, and more. Whether you're here to read, study, or explore new ideas, our library is designed to cater to your needs. With comfortable seating, a quiet environment, and friendly staff ready to assist, we aim to make your visit enjoyable and productive. 

        </p>
        <div class="flex justify-end w-full">
            <a href="{% url 'register' %}" class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
        </div>
    </div>
    <div class="w-full lg:w-1/2 lg:py-6 text-center rounded-2xl bg-opacity-70 mx-3">
        <img class ="rounded-2xl" src ="{% static 'library.avif' %}"/>
    </div>
</div>

{% endblock %}